/*from love running to clear global settings*/

*{
    margin:0;
    padding:0;
    border:none;
}

/*header*/

.header-columns {
    display:flex;
    justify-content:space-around;
    gap:5px;
    align-items: center;
}

/*main section of page layout*/

.column {
    display:flex;
    gap:5rem;
    justify-content: center;
}

.column-width {
    width:30%;
}

/*found transform:translate on W3 2D transformations to stack the boxes*/

.bottom-right {
    transform:translate(150px, -100px)
}

.below {
    transform:translate(0px, 50px)
}

/*position center image*/
.center-center {
    display:flex;
    justify-content:center;
    align-items:center;
    /*position:fixed; needs to work with columns*/ 
}

/*box borders*/

.box-outline {
    border:1px solid black;
    border-radius: 5%;
    width: 300px;
    height: 200px;
}

.remove-bullets {
    list-style-type:none;
}

/*footer*/
footer {
    height:100px;
    background-color:green;
}

.footer-links {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    padding:40px;
}
