/*from love running to clear global settings*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Jost, sans-serif;
}

main {
    background-color:#DDF8D7;
    width:100%;
}

/*header*/

.header-columns {
    display:flex;
    justify-content:space-around;
    gap:5px;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 350%;
    letter-spacing:4px;
}

#header-nav a {
    text-decoration: none;
    color:inherit;
}

#header-nav a:hover {
    font-size:130%;
}

/* hero image*/

#hero {
    height:200px;
    width:100%;
    overflow:hidden;
}

/*main section of page layout*/

.column {
    display:flex;
    gap:2rem;
    justify-content: center;
    padding-top: 25px;
}

.column-width {
    width:30%;
}

/*found transform:translate on W3 2D transformations to stack the boxes check can I use*/

.bottom-right {
    transform:translate(150px, -100px);
        
    /*position:absolute;
    top:500px;
    left:150px;*/
}

/*position center image*/
.center-center {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

/*box borders and styling*/

.box-outline {
    border:1px solid black;
    border-radius: 5%;
    width: 250px;
    height: 200px;
    background-color: #A7DCEF;
}

.remove-bullets {
    list-style-type:none;
}

.scroll-list {
    overflow:scroll;
}

.yellow-change:hover {
    background-color: #f7f700;
}

/*footer*/
footer {
    height:75px;
    background-color:#95C0E2;
    position:fixed;
    bottom:0;
    width:100%;
}

.footer-links {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    padding:30px;
}
